.card {
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  margin-top:0.1em;
  margin-bottom:0.1em;
  margin-right:0.1em;
  margin-left:0.1em;
  position:relative;
  height:8em;
  width:5.6em; /*7:10 is roughly how cards are shaped*/
  color: #000;
  border: 2px solid black;
  border-radius: 6px;
  
  -webkit-text-stroke: 0.5px black;
}

.play {
  /*display: block;*/
  position:absolute;
  top:8.2em;
  border: 1px solid black;
  width:50%;
  text-align:center;
  margin-left:25%;
}

.points {
  color:#000;
  font-size:80%;
  position:absolute;
  top:1.3em;
  width:1.0em;
  height:1.0em;
  text-align:center;
  border: 1px solid black;
  border-radius:3px;
}

.selected {
  top: -1.2em;
  height:8.0em;
}

.front {
  background: #none;
  position:absolute;
  width:100%;
  height:100%;
}

.content {
 position:absolute;
 height:100%;
 width:100%;
 text-align:center;
}

.green {
  text-align: left;
  position:absolute;
  color: #0a0;
  width:100%;
  height:100%;
}
.green::after{
  padding-left:0.5em;
  position:absolute;
  font-size:80%;
  content: " GREEN"; 
}

.red {
  text-align: left;
  position:absolute;
  color: #a00;
  width:100%;
  height:100%;
}
.red::after{
  padding-left:0.5em;
  position:absolute;
  font-size:80%;
  content: " RED"; 
}

.yellow {
  text-align: left;
  position:absolute;
  color: #aa0;
  width:100%;
  height:100%;
}
.yellow::after{
  padding-left:0.5em;
  position:absolute;
  font-size:80%;
  content: " YELLOW"; 
}

.black {
  text-align: left;
  position:absolute;
  color: #111;
  width:100%;
  height:100%;
}
.black::after{
  padding-left:0.5em;
  position:absolute;
  font-size:80%;
  content: " BLACK"; 
}

.rook {
  text-align: left;
  position:absolute;
  color: #111;
  width:100%;
  height:100%;
}

.middle {
 position:absolute;
 margin-left:50%;
 margin-top:71.4%; /*50% * 10/7, percentage is based on width*/
 font-size:200%;
 border: 1px solid black;
 height:1em;
 width:1em;
 padding:0.2em;
 text-align:center;
 transform:translate(-50%,-50%);
 border-radius: 4px;
}

.middle.rook {
 content:url("../../assets/rook_front.png")
}

.middle::after{
  content: none;
}
.back {
 background: #222;
 position:absolute;
 width:100%;
 height:100%;
 content:url("../../assets/rook_back.jpg");
 border-radius: 4px;
}

.top
{
  position:absolute;
  width:100%;
  height:100%;
  margin:4px;
}
.bottom
{
  position:absolute;
  transform:rotate(180deg);
  margin:-4px;
  width:100%;
  height:100%;
  position:absolute;
}