<div class="card" class="{{(smush ? 'smush' : '')}}">
	<div *ngIf="hidden==false; else hiddenBlock">
	  <div class="front">
		<div *ngIf="!empty" class="content">
		  <div class={{cardColor}} class="top">
		  {{cardVal}}
            <div *ngIf="points!=0" class="points">
                {{points}}
            </div>
		  </div>
		  <div *ngIf="cardColor!='ROOK'; else rookBlock">
            <div class={{cardColor}} class="middle">
                {{cardVal}}
            </div>
		  </div>
		  <ng-template #rookBlock>
		  <div class={{cardColor}} class="middle">
            <img src="../../assets/rook_front.png">
		  </div>
		  </ng-template>
		  <div class={{cardColor}} class="bottom">
              {{cardVal}}
              <div *ngIf="points!=0" class="points">
                {{points}}
              </div>
		  </div>
		</div>
	  </div>
	</div>
	<ng-template #hiddenBlock>
	  <div class="back">
	  </div>
	</ng-template>
</div>
