<div>
	username:
	<span *ngIf="!enteringNewUsername">
		<span class="username">
			{{getUsername()}}
		</span>
		<button (click)="enteringNewUsername = true;">
			change?
		</button>		
	</span>
	<span *ngIf="enteringNewUsername">
		<input class="username" type="text" [(ngModel)]="newUsername">
		<button (click)="submitNewUsername()"
				[disabled]="!newUsername.length || newUsername == getUsername()">
			change
		</button>
		<button (click)="enteringNewUsername = false;">
			cancel
		</button>
	</span>
</div>
