<div class="card">

  <div class="custom-div">
    Rook!
  </div>

  <username-widget></username-widget>

  <div>
	<input type="text" [(ngModel)]="newMatchName">
	<button (click)="createNewMatch()" 
	 		[disabled]="!newMatchName">
		create match
	</button>
  </div>
  <div>
	<input type="text" [(ngModel)]="joinMatchName">
	<button (click)="startJoinMatch()" [disabled]="!joinMatchName">
		join match
	</button>
	<div *ngIf="joiningMatch">
		<br>
		<div>
			<b>Joining match: {{joiningMatch.id}}</b>
			<button (click)="joiningMatch = null;">cancel</button>
		</div>
		<div class="join-grid">
			<div class="join-top-row">
				<span *ngIf="joiningMatch.players[0]">
					{{joiningMatch.players[0]}}
				</span>
				<button (click)="joinMatch(0)" *ngIf="!joiningMatch.players[0]">
					Sit here
				</button>
			</div>
			<div class="join-mid-row">
				<span *ngIf="joiningMatch.players[1]">
					{{joiningMatch.players[1]}}
				</span>
				<button (click)="joinMatch(1)" *ngIf="!joiningMatch.players[1]">
					Sit here
				</button>
				<span class="spacer"></span>
				<span *ngIf="joiningMatch.players[3]">
					{{joiningMatch.players[3]}}
				</span>
				<button (click)="joinMatch(3)" *ngIf="!joiningMatch.players[3]">
					Sit here
				</button>	
			</div>
			<div class="join-bot-row">
				<span *ngIf="joiningMatch.players[2]">
					{{joiningMatch.players[2]}}
				</span>
				<button (click)="joinMatch(2)" *ngIf="!joiningMatch.players[2]">
					Sit here
				</button>
			</div>
		</div>
<!-- 		<div *ngFor="let seatId of [0, 1, 2, 3]">
			Seat {{seatId}}:
			<button (click)="joinMatch(seatId)" *ngIf="!joiningMatch.players[seatId]">
				Sit here
			</button>
			<span *ngIf="joiningMatch.players[seatId]">
				{{joiningMatch.players[seatId]}}
			</span>
		</div> -->
	</div>
  </div>

  <br>

  <div *ngIf="currentMatches && currentMatches.length">
  	Your current matches:
  	<div *ngFor="let match of currentMatches">

  		<div><b>Match name: {{match.id}}</b></div>
  		<div>
  		Players: {{getActivePlayers(match).join(', ')}}
  		<button [routerLink]="'match/' + match.id">return to match</button>
  		<button (click)="quitMatch(match.id)">quit match</button>
  	    </div>
  	</div>
  </div>

  
</div>