<div>
	<a [routerLink]="'/'">back to home!</a>
	<div>
		welcome to the match component
	</div>
	<div *ngIf="match"> 
	  match: {{match.id}}<br>
      <div *ngIf="!match.started()">
          players:
          <div *ngFor="let player of match.players">
            -- {{player}}
          </div>
      </div>
  	  <div *ngIf="!isPlayer()">
	  		you are observing this match
  	  </div>

  	  <div *ngIf="isPlayer()">
  	  	you are playing in the match!
  	  	<div *ngIf="isOwner()">
  	  		you are the owner of this match!
  	  		<div *ngIf="readyToStartMatch()">
  	  			all players have joined. <br>
  	  			<button (click)="startMatch()">begin game</button>
  	  		</div>
  	  	</div>
  	  	<div>
  	  	</div>
  	  </div>

	  <div *ngIf="match.started()">
  	  			match has begun!!!
  	  		{{match.gameIds[match.gameIds.length-1]}}
             <div class ="gameBoard">
                <div *ngFor="let id of [1,2,3]">
                  <div class="{{['left','across','right'][id-1]}}">
                    <div class="{{['left_hand','across_hand','right_hand'][id-1]}}">
                      <card-component *ngFor="let card of getHandRelative(id)" [cardId]="card" [smush]=true></card-component> 
                    </div>
                    <div class="playerName">
                      {{getPlayerName(id)}}
                    </div>
                    <div class="playerInfo">
                      {{getPlayerInfo(id)}}
                    </div>
                  </div>
                </div>
                <div *ngIf="getGameStage()==3" class="playtable">
                  <p class="playInfo">TRUMP: {{getTrump()}}</p>
                  <card-component *ngFor="let card of getCurrentTrick(); index as i" [cardId]="card" class="{{['left_card','across_card','right_card','your_card'][(getCurrentTrickLeader()+3+i)%4] + (i==getCurrentWinner() ? ' winner' : '')}}"></card-component>
				  <div *ngIf="whoseTurn()==userId">
					  <p class="playInfo">YOUR TURN</p>
					  <card-component *ngIf="getSelectedCard()!=-1" [cardId]="selectedCard" (click)="select(-1)"></card-component>
					  <br><button *ngIf="getSelectedCard()!=-1" (click)="playCard()">PLAY</button>
				  </div>
				  <div *ngIf="(whoseTurn()!=userId || showLastTrick) && getCurrentTrick().length==0 && getLastTrickWinner()!=-1" class="{{['left_card','across_card','right_card','your_card'][(getCurrentTrickLeader()+3)%4]}}">
					  <p>Last trick, taken by {{match.players[(getLastTrickWinner() + 4 -playerIndex())%4]}}</p>
					  <card-component *ngFor="let card of getLastTrick()" [cardId]="card" [smush]=true></card-component>
					  <br><button *ngIf="whoseTurn()==userId" (click)="hideLastTrick()">HIDE</button>
				  </div>
                </div>
                <div class="your">
                  <div class="your_hand">
                    <card-component *ngFor="let card of getHand()" [cardId]="card" [smush]=smushCards [playable]=isPlayable(card) (click)="whoseTurn()==userId && select(card)"></card-component>  
                  </div>
                </div>
                <div *ngIf="getGameStage()==1 && whoseTurn()==userId" class="bidbox">
                  <p>{{getBidText()}}</p>
                  <button (click)="increaseBid()">+</button>
                  <button (click)="decreaseBid()">-</button>
                  <button (click)="bid()">BID {{getYourCurrentBid()}}</button>
                  <button (click)="pass()">PASS</button>
                </div>
                <div *ngIf="getGameStage()==2 && whoseTurn()==userId" class="kittybox">
                  <card-component *ngFor="let card of getDiscards()" [cardId]="card" [smush]=false (click)="select(card)"></card-component>
                  <p>Trump=<button (click)="cycleTrumpChoice()">{{getTrumpChoice()}}</button></p>
                  <button *ngIf="getDiscards()[4]!=-2" (click)="discard()">DISCARD</button>
                </div>
            </div>
            <button *ngIf="!smushCards" (click)="smushCards=true">
            Smush Cards
            </button>
            <button *ngIf="smushCards" (click)="smushCards=false">
            UnSmush Cards
            </button>
        </div>

	</div>

</div>