<div>
	<a [routerLink]="'/'">back to home!</a>
	<div>
		welcome to the match component
	</div>
	<div *ngIf="match"> 
	  match: {{match.id}}<br>
 	  players:
  	  <div *ngFor="let player of match.players">
  	    -- {{player}}
  	  </div>
  	  <div *ngIf="!isPlayer()">
	  		you are observing this match
  	  </div>

  	  <div *ngIf="isPlayer()">
  	  	you are playing in the match!
  	  	<div *ngIf="isOwner()">
  	  		you are the owner of this match!
  	  		<div *ngIf="match.readyToStart()">
  	  			all players have joined. <br>
  	  			<button (click)="startMatch()">begin game</button>
  	  		</div>
  	  	</div>
  	  	<div>
  	  	</div>
  	  </div>

	  <div *ngIf="match.started()">
  	  			match has begun!!!
  	  		{{match.gameIds[0]}}	
		</div>

	</div>
	<div>
	<card-component [cardId]=5 [position]=0></card-component>
	<card-component [cardId]=23 [position]=1></card-component>
	<card-component [cardId]=56 [position]=2></card-component>
	<card-component [cardId]=40 [position]=3></card-component>
	<card-component [cardId]=45 [position]=4></card-component>
	<card-component [cardId]=23 [position]=5 [hidden]=true></card-component>
	</div>

</div>